.education {
    font-size: 30px;
    font-weight: bold;
    color: #21325e;
    border-bottom: 5px solid #21325e ;
}

.workExp {
    font-size: 30px;
    font-weight: bold;
    color: #e9d35b;
    border-bottom: 5px solid #e9d35b ;
}